{% extends './base.html' %}
{% load static %}
{% block title %} Portfolio {% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="header">
            <a class="navbar-brand  ml-5 mt-4" href="#">Renat Khatymov</a>
            <ul class="list-group list-group-horizontal-md bg-transparent mr-4 mt-4">
                <li class="list-group-item bg-transparent">
                    <a href="#">
                        About
                    </a>
                </li>
                <li class="list-group-item bg-transparent">
                    <a href="#">
                        Experience
                    </a>
                </li>
                <li class="list-group-item bg-transparent">
                    <a href="#">
                        Projects
                    </a>
                </li>
                <li class="list-group-item bg-transparent">
                    <a href="#">
                        Skills
                    </a>
                </li>
            </ul>
        </div>
        <p class="text-center pt-5">
            Hello World! I'm Renat Khatymov, a C++ software developer.
        </p>
    </div>
{% endblock %}