{% extends './base.html' %}
{% load static %}
{% block title %} Portfolio {% endblock %}

{% block content %}
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="container">
{#                    <div #}
{#                    <img src="static/img/lead_bg.png" style="width:100%" id="lead_bg">#}
{#                    <img src="static/img/idea-bulb-light-svgrepo-com.svg" id="object">#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}